<div id="RightElem" style="position:fixed; right:5%; top:20%; width:13px;">  
</div>

<div id="RightNavGoToTop" style="position:fixed; right:5%; bottom:10%; width:13px;">
    <a data-toggle="tooltip" title="Go to top page" type="button" class="btn btn btn-primary btn-md" style="background-color:#4287f5; border-color:#4287f5; color:white; font-weight:bold;" ><i style="font-weight:bold;" class="fa fa-angle-double-up"></i></a>
</div>
<div id="RightNavGoToBottom" style="position:fixed; right:5%; bottom:3%; width:13px;">
    <a data-toggle="tooltip" title="Go to bottom page" type="button" class="btn btn btn-primary btn-md" style="background-color:#4287f5; border-color:#4287f5; color:white; font-weight:bold;" ><i style="font-weight:bold;" class="fa fa-angle-double-down"></i></a>
</div>

<script type="text/javascript">



        var RightNavStr = '';
        var CloseBtn = '<a id="RightNavClose" data-toggle="tooltip" title="Close Form" type="button" class="btn btn btn-primary btn-md" style="background-color:#dc3545; border-color:#ff6600; color:white; font-weight:bold;"><i class="fa fa-remove"></i></a>';
        var AttachFileBtn = '<a id="RightNavAttachment" data-toggle="tooltip" title="Attachfile" type="button" class="btn btn btn-primary btn-md" style="background-color:#1BA1E2; border-color:#1BA1E2; color:white; font-weight:bold;"><i class="fa fa-paperclip"></i></a>';
        var SaveDraftBtn = '<a id="RightNavSaveDraft" data-toggle="tooltip" title="Save Draft" type="button" class="btn btn btn-primary btn-md" style="backgrond-color:#007bff; color:white; font-weight:bold; padding-left:9.5px; padding-right:9.5px;"><i class="fa fa-floppy-o"></i></a>';
        var RemoveItemBtn = '<a id="RightNavDeleteItem" data-toggle="tooltip" title="Remove this form" type="button" class="btn btn btn-primary btn-md" style="background-color:rgb(138, 28, 28); border-color:rgb(138, 28, 28); color:white; font-weight:bold;" ><i class="fa fa-trash-o"></i></a>';
        var RefreshBtn = '<a id="RightNavRefresh" data-toggle="tooltip" title="Refresh page" type="button" class="btn btn btn-primary btn-md" style="background-color:#fcba03; border-color:#fcba03; color:white; font-weight:bold;" ><i class="fa fa-refresh"></i></a>';


        var FormStep = FormMaster[Form.FormMaster].FormStep;
        var RightMenu;
        for(i in FormStep){
            if(FormStep[i].FormStatus == Form.FormStatus){
                RightMenu =  FormMaster[Form.FormMaster].FormStep[i].Nav.RightNav;
            }
        }
        
            if(RightMenu.CloseForm){
                RightNavStr += CloseBtn;
            }
            if(RightMenu.Attachfile){
                RightNavStr += AttachFileBtn;
            }
            if(RightMenu.SaveDraft){
                RightNavStr += SaveDraftBtn;
            }
            if(RightMenu.RemoveItem){
                RightNavStr += RemoveItemBtn;
            }
            if(RightMenu.Refresh){
                RightNavStr += RefreshBtn;
            }
            $('#RightElem').empty();
            $('#RightElem').append(RightNavStr);
  
        
        

        

    
</script>